[user]
	email = taichi.kushiro@nextbeat.net
	name = Taichi Kushiro

[core]
  pager = delta
  excludesfile = ~/.config/git/ignore

[delta]
  line-numbers = true
  side-by-side = true
  syntax-theme = Github

[interactive]
  diffFilter = delta --color-only
